/********************/


/*Reset All Elements*/


/********************/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Lato', sans-serif;
}

header {
    margin: 0;
    padding: 0;
    background-color: #dddddd;
    width: 100%;
}

header h1 {
    font-size: 70px;
    color: #281010;
    margin-left: 2vw;
    font-family: 'Ubuntu', sans-serif;
}

form {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #dddddd;
    border-radius: 5px;
}

form * {
    color: #281010;
}

form h2 {
    font-size: 20pt;
}

fieldset {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.alphabet {
    width: 50%;
}

.alphachar {
    text-overflow: '';
    margin: 5px;
    background-color: #b0b0b8;
    border-radius: 2px;
    text-align: center;
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    padding: 0px;
    font-weight: bold;
    font-size: 20pt;
}

.alphachar:hover {
    border: 2px solid #c82028;
}

.selectorbutton {
    margin: 5px;
    background-color: #b0b0b8;
    border-radius: 2px;
    text-align: center;
    height: 50px;
    width: 150px;
    border: 2px solid transparent;
    padding: 0px;
    font-weight: bold;
    font-size: 14pt;
}

.selectorbutton:hover {
    border: 2px solid #c82028;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #b0b0b8;
    outline: none;
    opacity: 0.7;
    border-radius: 2px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 29px;
    height: 29px;
    background: #c82028;
    cursor: pointer;
    border-radius: 2px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 27px;
    background: #c82028;
    cursor: pointer;
    border-radius: 2px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.text {
    margin: 5px;
    background-color: #b0b0b8;
    border-radius: 2px;
    text-align: center;
    height: 50px;
    width: 500px;
    border: 2px solid transparent;
    padding: 0px;
    font-weight: bold;
    font-size: 14pt;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.text:hover {
    opacity: 1;
}

.text:focus {
    border: 2px solid #c82028;
}

label {
    font-weight: bold;
    font-size: 14pt;
    padding: 5px 0px;
}